.profile {
  width: 200px;
  height: fit-content;
  background: blanchedalmond;
  padding: 30px;
  margin: 100px auto 100px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}

.avatar {
  background-color: white;
  width: 90px;
  height: 90px;
  border-radius: 90px;
}

.name {
  font-weight: 900;
}

.tag {
  opacity: 0.6;
}

.location {
  opacity: 0.6;
}

.stats {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  text-transform: lowercase;
}

.stats li {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.label {
  text-align: center;
  margin-bottom: 10px;
  opacity: 0.2;
}

.quantity {
  text-align: center;
}
